# Ignore local VSCode files
.vscode/

# Ignore pycache
__pycache__/

# Ignore trained model files
*.pth.tar

# Ignore images
*.png
*.jpg

trajectory_generation/src/Test_Kinematics.py

# Ignore webots in progress files
*.wbproj

#ignore videos
*.MP4
Image_aquisistion/image_details.json

# Ignore webots in progress files
*.wbproj

#ignore videos
*.MP4
Image_aquisistion/image_details.json
