# Ignore local VSCode files
.vscode/

# Ignore pycache
__pycache__/

# Ignore trained model files
*.pth.tar

# Ignore files from a running webots simulation
*.wbproj

# Ignore images
*.png
*.jpg

trajectory_generation/src/Test_Kinematics.py
