<?xml version="1.0"?>
<launch>
  <!-- set roscontroller -->

  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find new_controller)/launch/controller.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find new_controller)/worlds/Fivebar_2023version.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <!--node name="manipulator" pkg="new_controller" type="manipulator" required="$(arg auto_close)"/-->
  <node name="display_test" pkg="new_controller" type="display_test" required="$(arg auto_close)"/>
</launch>

